html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* typography */

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.heading-italic {
  font-style: italic;
}

.heading-bold {
  font-weight: bold;
}

h1,
h2 {
  font-family: "Playfair Display", 'Times New Roman', Times, serif;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.45rem;
  line-height: 1.8rem;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

p {
  line-height: 2;
  font-size: 1.15rem;
}

footer p {
  line-height: 1;
}

/* layout classes */
body {
  text-align: center;
  width: 100%;
  position: relative;
}

.container-small {
  max-width: 720px;
  margin: 0 auto;
  padding: 64px 1%;
}

/* header area */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 2.16% 10px 2.16%;
  background-color: white;
  position: fixed;
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 0.875em;
  top: 0;
}

.page-header img {
  max-width: 120px;
  max-height: 50px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
  text-align: left;
}

.cart {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: right;
  margin-right: 0;
}
.navigation {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-top: 1px solid #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 13px 15% 0 15%;
}
.navigation-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: uppercase;
  color: #e2574c;
}

nav li a {
  color: #e2574c;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 400;
}

nav li a:hover {
  color: #b64036;
}

.purchase {
  height: 20px;
  width: 20px;
  background: #e2574c;
  position: fixed;
  top: 13px;
  right: 3px;
  border-radius: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* banner */
.banner {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  padding: 180px 0px;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      color-stop(0, rgba(0, 0, 0, 0.25)),
      to(rgba(0, 0, 0, 0.25))
    ),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: center, center 60px, top;
  background-size: cover, 150px 369px, cover;
  margin-top: 118px;
}

.banner h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 15px;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner h3,
.banner h1 {
  text-shadow: 3px 3px 6px #969696;
}

/* about section */

#about {
  font-size: 1rem;
  padding-bottom: 60px;
}

/* categories */
.categories {
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px 6px #969696;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
}
.product-categories li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.65rem;
  font-weight: 500;
  overflow: hidden;
  border: 4px solid white;
}

.product-categories li a {
  color: white;
  text-decoration: none;
}

.product-categories li a:hover {
  color: #f5ebc6;
}
.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22.5% 0;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 100%;
          flex: 2 0 100%;
  max-width: 100%;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22.5% 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  max-width: 50%;
}

.mens {
  background-image: url(../images/mens-category.jpg);
  background-size: cover;
  text-align: center;
}

.trends {
  background-image: url(../images/trends-category.jpg);
  background-size: cover;
  text-align: center;
}

.glasses {
  background-image: url(../images/glasses-category.jpg);
  background-size: cover;
}

.sale {
  background-image: url(../images/sale-category.jpg);
  background-size: cover;
}

.bags {
  background-image: url(../images/bags-category.jpg);
  background-size: cover;
}

.womens {
  background-image: url(../images/womens-category.jpg);
  background-size: cover;
}

/* Most-Loved Products/flickity */

.most-loved h2 {
  padding-bottom: 30px;
}

.carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  width: 100%;
  text-align: center;
}

.product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  width: 65%;
  margin: 0 auto;
}

.carousel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.product-type {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  color: #969696;
}

.product-name {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  color: #e2574c;
  padding: 15px 0;
}

.price {
  font-size: 1rem;
  font-weight: 400;
  color: #969696;
  padding-top: 5px;
}

.add-to-cart {
  color: white;
  background-color: black;
  border-radius: 30px;
  margin: 20px auto;
  padding: 3px 10px;
  font-size: 0.75em;
  font-weight: 400;
  cursor: pointer;
}

/* updates */
.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      color-stop(0, rgba(0, 0, 0, 0.15)),
      to(rgba(0, 0, 0, 0.15))
    ),
    url(../images/wave-bkgd.jpg);
  background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.15) 0,
      rgba(0, 0, 0, 0.15)
    ),
    url(../images/wave-bkgd.jpg);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0,
      rgba(0, 0, 0, 0.15)
    ),
    url(../images/wave-bkgd.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 9px solid white;
  padding: 60px 15px 45px 15px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #969696;
  height: 340px;
}

.email p {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 5px;
  margin: 0 auto;
}

.email-input {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  border-radius: 80px;
}

input[type="email"] {
  font-family: "Raleway";
  border: 0;
  padding-left: 25px;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 80px;
  width: 300px;
}

input[type="email"]:focus {
  outline: none;
}

input[type="submit"] {
  font-family: "Raleway";
  color: white;
  background-color: #e2574c;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #b64036;
}
input[type="submit"]:focus {
  outline: none;
}
/* footer/social media */

footer {
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info {
  color: white;
  text-align: left;
  font-family: "Playfair Display";
  line-height: 1.5;
}

.contact-info p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.contact-info a {
  color: white;
}

.contact-info a:hover {
  color: #e2574c;
}

.contact-info .phone-email {
  line-height: 3.5;
}

.social-media {
  margin: 20px auto 50px auto;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social-media li {
  margin: 8px;
}

.social-media span {
  display: none;
}

.social-media i {
  font-size: 0.9rem;
}
.social-media li a {
  color: white;
  text-decoration: none;
}

.social-media li a:hover {
  color: #e2574c;
}
.contact-info .address {
  color: #969696;
}

/* Breakpoints */

/* min-width: 600px */

@media all and (min-width: 600px) {
  /* general formatting and stylistics */

  .html {
    font-size: 16px;
  }

  .container-small {
    max-width: none;
  }

  .banner h3 {
    font-size: 1.5rem;
    padding-top: 45px;
  }
  .banner h1 {
    font-size: 3em;
    padding-top: 5px;
  }

  h2 {
    font-size: 2.75rem;
    padding-bottom: 10px;
  }
  p {
    font-size: 1.3rem;
  }

  /* header */
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 15px 10px 0px 10px;
  }
  .page-header img {
    max-width: 125px;
    max-height: 50px;
  }
  .navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    /* justify-content: space-around; */
    padding: 22px 0;
    /* flex-grow: 1; */
    /* border: 1px solid black; */
  }
  nav li a {
    margin: 0 10px;
  }

  /* banner */

  .banner {
    margin-top: 82px;
    padding-top: 145px;
  }

  /* about */

  .about {
    padding-top: 70px;
  }

  /* product categories */

  .product-categories li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    border: 4px solid white;
  }
  .square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    max-width: 25%;
    padding: 10% 0;
  }
  .rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2 0 50%;
            flex: 2 0 50%;
    max-width: 50%;
    padding: 10% 0;
    font-size: 1.5em;
  }

  /* flickity/most loved */

  .most-loved h2 {
    padding-bottom: 40px;
  }

  .carousel-cell {
    width: 50%;
  }

  .product-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 20px auto;
  }

  .product-type {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 400;
  }

  .product-name {
    font-family: "Playfair Display";
    font-size: 1.75rem;
    color: #e2574c;
    padding: 15px 0;
  }

  .price {
    font-size: 1rem;
    font-weight: 400;
  }
  .add-to-cart {
    font-size: 1em;
    margin: 30px auto;
  }

  /* email subscribe */

  .email {
    height: 385px;
    padding-top: 65px;
  }
  .email-input {
    margin-top: 10px;
  }
  input[type="email"] {
    font-size: 1.2rem;
    font-weight: 200;
  }

  input[type="submit"] {
    font-size: 1.15rem;
    font-weight: 400;
  }

  /* footer/contact info/social media */

  footer {
    background-color: #242424;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 45px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .contact-info {
    color: white;
    margin-left: 13px;
    font-family: "Playfair Display";
    line-height: 1.5;
  }

  .contact-info p {
    text-align: left;
    padding: 0 auto;
    font-size: 1.15rem;
  }

  .contact-info a {
    color: white;
  }

  .contact-info a:hover {
    color: #e2574c;
  }

  .contact-info .phone-email {
    line-height: 3.5;
  }

  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-right: 40px;
    text-align: left;
  }

  .social-media i {
    font-size: 1rem;
  }

  .social-media span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
    text-align: left;
  }

  .social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .social-media li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    color: white;
    text-decoration: none;
  }
}

/* min-width: 1240px */

@media all and (min-width: 1240px) {
  /* general stylistics */
  p {
    max-width: 675px;
    margin: 0 auto;
  }

  .container-small {
    max-width: none;
  }

  /* page header/main nav */
  .page-header {
    font-size: 1.15rem;
    padding-bottom: 13px;
  }
  .page-header img {
    min-width: 160px;
    min-height: 65px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
    position: relative;
    text-align: left;
  }

  .cart {
    -ms-flex-preferred-size: 9%;
        flex-basis: 9%;
    text-align: right;
    margin-right: 0;
    overflow: hidden;
  }

  nav li {
    margin-top: 9px;
  }

  nav li a {
    margin: auto 20px;
  }

  /* banner */
  .banner {
    background-size: cover, 250px 615px, contain;
    height: 550px;
  }

  .banner h3 {
    padding-top: 40px;
  }
  .banner h1 {
    font-size: 4.5rem;
    padding-top: 10px;
  }

  /* product categories */

  .rectangle {
    padding: 11% 0;
  }
  
  .square {
    padding: 11% 5%;
  }
  

  .product-categories li {
    font-size: 2.75rem;
    font-weight: 500;
  }
  .product-type {
    font-size: 0.85rem;
  }

  .product-name {
    font-size: 1.75rem;
    color: #e2574c;
    padding-bottom: 20px;
  }

  /* flickity */

  .carousel-cell {
    width: 25%;
  }

  .price {
    font-size: 1.15rem;
    font-weight: 500;
  }

  /* email/subscribe */

  .email {
    height: 350px;
    padding-top: 65px;
  }

  /* footer/social media */
  .social-media {
    margin-right: 90px;
  }
}