/* helpers and extra resets */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* typography */

body {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
}

.heading-italic {
  font-style: italic;
}

.heading-bold {
  font-weight: bold;
}

h1, h2 {
  font-family: "Playfair Display";
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.45rem;
  line-height: 1.8rem;
  /* padding-bottom: 0; */
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

p {
  line-height: 2;
  font-size: 1.15rem;
}

footer p {
  line-height: 1;
}

/* layout classes */
body {
  text-align: center;
  width: 100%;
  position: relative;
  /* border: 2px; */
}
.container {
  /* max-width: 1240px; */
  margin: 0 auto; /*to centre element */
}

.container-small {
  max-width: 720px;
  margin: 0 auto; /*to centre element */
  padding: 64px 1%;
}

/* *****  REMEMBER TO AUTOPREFIXER AFTER FINISHED  ***** */

/* header area */

.page-header {
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  padding: 15px 2.16% 10px 2.16%;
  background-color: white;
  position: fixed;
  z-index: 1;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.875em;
  top: 0;
  /* border: 1px solid pink; */
  /* padding: 16px 1% 8 px 1%; */

  /* stretch goal -- position: sticky?; 
    also has to do with padding of banner*/
}

.page-header img {
  max-width: 120px;
  max-height: 50px;
}

.logo {
  display: flex;
  /* flex-grow: 1; */
  flex-basis: 20%;
  position: relative;
  text-align: left;
}

.cart {
  /* flex-grow: 1; */
  flex-basis: 20%;
  text-align: right;
  margin-right: 0;
}
.navigation {
  order: 1;
  border-top: 1px solid #bbb9b9;
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: space-around;
  padding: 13px 15% 0 15%;
  /* border: 1px solid pink; */
}
.navigation-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;
  color: #e2574c;
  /* flex-grow: 1; */
  /* position: relative; */
  /* why is alignment skewed right? */
}

nav li a {
  color: #e2574c;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 400;
}

nav li a:hover {
  color: #b64036;
}

.purchase {
  height: 20px;
  width: 20px;
  background:  #e2574c;
  position: fixed;
  top: 13px;
  right: 3px;
  border-radius: 20px;
  /* border: 1px solid black; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* banner */
.banner {
  color: white;
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */
  justify-content: center;
  height: 400px;
  padding: 180px 0px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);

  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: center, center 60px, top;
  background-size: cover, 150px 369px, cover;
  margin-top: 118px;
}

.banner h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 15px;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner h3,
.banner h1 {
  text-shadow: 3px 3px 6px #969696;
}

/* about section */

 #about {
  font-size: 1rem;
  padding-bottom: 60px;
}

/* categories */
.categories {
  text-transform: uppercase;
  width: 100%;
  text-shadow: 3px 3px 6px #969696;
}

.product-categories {
  /* flex-wrap: wrap
        flex-direction: row 
            option 1: continue to use break in list; organize based on line break; put display as flex, add @media all and (max-width: 600px) then flex-flow: row wrap
            
            option 2: treat as single row; @media all and (max-width: 3000px) then flex-flow: row wrap?
            
            is there a way to ensure the default is two lines?*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.product-categories li {
  justify-content: center;
  font-size: 1.65rem;
  font-weight: 500;
  overflow: hidden;
  border: 4px solid white;
}

.product-categories li a {
  color: white;
  text-decoration: none;
}

.product-categories li a:hover {
  color: #f5ebc6;
}
.rectangle {
  display: flex;
  padding: 22.5% 0;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 100%;
  /* shorthand flex: 2 0 100% */
  max-width: 100%;
}

.square {
  display: flex;
  padding: 22.5% 5%;
  flex: 1 0 50%;
  max-width: 50%;
}

.mens {
  background-image: url(../images/mens-category.jpg);
  background-size: cover;
  text-align: center;
}

.trends {
  background-image: url(../images/trends-category.jpg);
  background-size: cover;
  text-align: center;
  /* position: relative; */
}

.category-name {
  display: flex;
  justify-content: center;
  /* this fixed the trends and glasses alignment issue */
}

.glasses {
  background-image: url(../images/glasses-category.jpg);
  background-size: cover;
}

.sale {
  background-image: url(../images/sale-category.jpg);
  background-size: cover;
}

.bags {
  background-image: url(../images/bags-category.jpg);
  background-size: cover;
}

.womens {
  background-image: url(../images/womens-category.jpg);
  background-size: cover;
}

/* Most-Loved Products/flickity */

.most-loved h2 {
  padding-bottom:30px;
}

.carousel-cell {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  text-align: center;
  /* margin-top: 25px; */
  /* padding-bottom: 10px; */
} 

.product-image {
  display: flex;
  justify-self: center;
  width: 65%;
  margin: 0 auto;
} 

.carousel-text {
  display: flex;
  flex-flow: column nowrap;
}

.product-type {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  color: #969696
}

.product-name {
  font-family: "Playfair Display";
  font-size: 1.5rem;
  color: #e2574c;
  padding: 15px 0;
}

.price {
  font-size: 1rem;
  font-weight: 400;
  color: #969696;
  padding-top: 5px;
}

.add-to-cart {
  /* border: 1px solid pink; */
  color: white;
  background-color: black;
  border-radius: 30px;
  margin: 20px auto;
  padding: 3px 10px;
  font-size: 0.75em;
  font-weight: 400;
  cursor: pointer;
}
  

/* updates */
.email {
  display: flex;
  flex-direction: column;
  /* padding: 4 rem 0; read section on padding*/
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0,
      rgba(0, 0, 0, 0.15)
    ),
    url(../images/wave-bkgd.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 9px solid white;
  padding: 60px 15px 45px 15px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px #969696;
  height: 340px;
  /* font-size: 2rem; */
  /* font-size: 16px;
  line-height: 2; */
  /* set padding in em */
  /* set min width at px  */
}

.email p {
  /* padding: 5px 0; */
  /* max-width: 700px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.email-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 5px;
  margin: 0 auto;
}

.email-input {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 3px;
  border-radius: 80px;
}

input[type="email"] {
  font-family: "Raleway";
  border: 0;
  padding-left: 25px;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 80px;
  width: 300px;
}
/* how does this work if I want to get rid of the grey outline when I click on the email input box? */
input[type="email"]:active {
  border: none;
}

input[type="submit"] {
  font-family: "Raleway";
  color: white;
  background-color: #e2574c;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #b64036;
}

/* footer/social media */

footer {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  color: white;
  text-align: left;
  /* margin-left: 13px; */
  font-family: "Playfair Display";
  line-height: 1.5;
}

.contact-info p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.contact-info a {
  color: white;
}

.contact-info a:hover {
  color: #e2574c;
}

.contact-info .phone-email {
  line-height: 3.5;
}

.social-media {
  margin: 20px auto 50px auto;
}

.social-media ul {
  display: flex;
  flex-direction: row;
}

.social-media li {
  margin: 8px;
}

.social-media span {
  display: none;
}

.social-media i {
  font-size: 0.9rem;
}
.social-media li a {
  color: white;
  text-decoration: none;
}

.social-media li a:hover {
  color: #e2574c;
}
.contact-info .address {
  color: #969696;
}

/* Breakpoints */


/* min-width: 600px */

@media all and (min-width: 600px) {

/* general formatting and stylistics */

  .container-small {
    max-width: none;
  }

  .banner h3{
    font-size: 1.5rem;
    padding-top: 45px;
  }
  .banner h1 {
    font-size: 3em;
    padding-top: 5px;
  }

  h2 {
    font-size: 2.75rem;
    padding-bottom: 10px;
  }
  p {
    font-size: 1.3rem;
  }

/* header */
  .page-header {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px 10px 0px 10px;    
  }
  .page-header img {
    max-width: 125px;
    max-height: 50px;
  }
  .navigation {
    order: 0;
    border-top: none;
    display: flex;
    margin: 0 auto;
    /* justify-content: space-around; */
    padding: 22px 0;
    /* flex-grow: 1; */
    /* border: 1px solid black; */
  }
  nav li a {
    margin: 0 10px;
  }

  /* banner */

  .banner {
    margin-top: 82px;
    padding-top: 145px;
  }
 

/* about */

  .about {
    padding-top: 70px;
  }
  /* .about h2 {
    font-size:2.45rem;
  } */

/* product categories */

  .product-categories li {
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    border: 4px solid white;
  }
  .square {
    display: flex;
    flex: 1 0 25%;
    max-width: 25%;
    padding: 10% 0;
  }
  .rectangle {
    display: flex;
    flex: 2 0 50%;
    max-width: 50%;
    padding: 10% 0;
    font-size: 1.5em;
  }

/* flickity/most loved */

  .most-loved h2 {
    padding-bottom:40px;
  }

  .carousel-cell {
    width: 50%;
  }

  .product-image {
    display: flex;
    width: 80%;
    margin: 20px auto;
  } 

  .product-type {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 400;
  }
  
  .product-name {
    font-family: "Playfair Display";
    font-size: 1.75rem;
    color: #e2574c;
    padding: 15px 0;
  }
  
  .price {
    font-size: 1rem;
    font-weight: 400;
  }
  .add-to-cart {
    font-size: 1em;
    margin: 30px auto;
  }

/* email subscribe */

  .email {
    height: 385px;
    padding-top: 65px;
  }
  .email-input {
    margin-top: 10px;
  }
  input[type="email"] {
    font-size: 1.2rem;
    font-weight: 200;
  }

  input[type="submit"] {
    font-size: 1.15rem;
    font-weight: 400;
  }
  


  /* footer/contact info/social media */

  footer {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 45px 0px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .contact-info {
    color: white;
    margin-left: 13px;
    font-family: "Playfair Display";
    line-height: 1.5;
  }
  
  .contact-info p {
    text-align: left;
    padding: 0 auto;
    font-size:1.15rem;
  }
  
  .contact-info a {
    color: white;
  }
  
  .contact-info a:hover {
    color: #e2574c;
  }
  
  .contact-info .phone-email {
    line-height: 3.5;
  }
  
  .social-media {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 40px;
    text-align: left;
  }

  .social-media i {
    font-size: 1rem;
  }

  .social-media span {
    display: flex;
    margin-left: 15px;
    /* line-height: 1rem; */
    text-align: left;
    /* align-text left?? */
  }
  
  .social-media ul {
    display: flex;
    flex-flow: column nowrap;
    }
  
  .social-media li a {
    display: flex;
    flex-flow: row nowrap;
    color: white;
    text-decoration: none;
    }
}  

/* min-width: 1240px */

@media all and (min-width: 1240px) {

  .container-small {
    max-width: none;
  }
	
  .page-header {
    font-size: 1.15rem; 
    padding-bottom: 13px;   
  }
  .page-header img {
    min-width: 160px;
    min-height: 65px;
  }
  .logo {
    display: flex;
    /* flex-grow: 1; */
    flex-basis: 9%;
    position: relative;
    text-align: left;
  }

  .cart {
    /* flex-grow: 1; */
    flex-basis: 9%;
    text-align: right;
    margin-right: 0;
    overflow:hidden;
  }

  nav li {
    margin-top: 9px;
  }

  nav li a {
    margin: auto 20px;
  }
  .banner {
    background-size: cover, 250px 615px, contain;
    height: 550px;
  }
  /* .banner h1 h3 {
    /* margin: 0 auto; */
    /* display: flex;
    align-content: center;
    justify-content: center; */
  

  .banner h3 {
    padding-top: 40px;
  }
  .banner h1 {
    font-size: 4rem;
    padding-top: 10px;
  }

  p {
    max-width: 675px;
    margin: 0 auto;
  }
  .product-categories li {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .product-type {
    font-size: 0.85rem;
  }
  
  .product-name {
    font-size: 1.75rem;
    color: #e2574c;
    padding-bottom: 20px;
  }

  .carousel-cell {
    width: 25%;
    /* margin: 0; */
    /* margin-right: 50%; */
  }
  
  .price {
    font-size: 1.15rem;
    font-weight: 500;
  }
  .email {
    height: 350px;
    padding-top: 65px;
  }
  .social-media {
    margin-right: 90px;
  }
}